.additional-item__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0;
  color: $second-color-description;
  text-transform: uppercase;
  margin: 13px 0;

  @media (min-width: $tablet-width) {
    display: inline-flex;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-item__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
    align-items: end;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
