.additional {
  position: relative;
  margin-bottom: 80px;
}

.additional__container-title {
  max-width: 1440px;
  margin: 0 auto;
}

.additional__container-content {
  padding-top: 25px;
  padding-bottom: 19px;

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.additional__scale {
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    height: 2px;
    background-color: $accent-color-primary;
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 15px;

    }

    @media (min-width: $desktop-width) {
      top: 42px;
    }
  }
}

.additional__title {
  padding-bottom: 34px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0;
  background-color: $second-color-title;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $parameters-title-border-bolor;
  }

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    font-size: 32px;
    line-height: 32px;
    padding: 0 40px 80px;
    display: inline-flex;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 37px 80px;
    margin-left: 73px;
    font-size: 40px;
    line-height: 40px;
    display: inline-flex;
  }

  &--container {
    max-width: 1514px;
    margin: 0 auto;
  }
}

.additional__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.additional__present {
  position: relative;
  margin-top: 35px;
  background-image:
    linear-gradient(to bottom, $accent-color-primary-opacity),
    url("../../images/catalog-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  width: 100%;
  min-height: 290px;
  display: flex;
  align-items: end;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    margin-bottom: 40px;
    min-height: 200px;
    background-image:
      linear-gradient(to bottom, $accent-color-primary-opacity),
      url("../../images/catalog-background-tablet@1x.jpg");
    justify-content: end;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
    align-items: end;
    background-image:
      linear-gradient(to bottom, $accent-color-primary-opacity),
      url("../../images/catalog-background-desktop@1x.jpg");
  }
}

.additional__present:before {
  position: absolute;
  content: '';
  width: 78px;
  height: 80px;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../icons/stack.svg#icon-gift");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media (min-width: $tablet-width) {
    top: 48%;
    left: 17%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: $desktop-width) {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.additional__list {
  @media (min-width: $tablet-width) {
    outline: 1px solid $basic-grey;
  }

  @media (min-width: $desktop-width) {
    outline: none;
    grid-column: span 3;
  }
}

.additional__list:first-child {
  @media (min-width: $desktop-width) {
    border-top: 1px solid $basic-grey;
  }
}

.additional__item {

  @media (max-width: $mobile-width-only) {
    padding-bottom: 18px;
    border-bottom: 1px solid $parameters-title-border-bolor;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px 27px;
    border-bottom: 1px solid $basic-grey;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 1px 15px;
    border-bottom: 1px solid $basic-grey;
  }
}

.additional__button {
  @media (min-width: $desktop-width) {
    max-width: 244px;
    width: 100%;
  }
}
