.address__wrapper {
  padding: 26px 20px;
  display: flex;
  gap: 20px;
}

.address__title {
  margin: 0;
  color: $base-color-title;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.address__image {
  position: relative;
  display: flex;
  justify-content: center;
}

.address__description {
  font-style: normal;
  line-height: 20px;
}

.address-catalog {
  background-color: $background-grey;
}

.address__image:before {
  position: absolute;
  content: '';
  width: 56px;
  height: 52px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../icons/map-pin.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
