.catalog-item {
  padding-top: 20px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    padding: 0 37px 40px;
    background-color: $basic-grey;
    background-image:
      linear-gradient(to bottom, $second-color-title 60px, $basic-grey 60px, $basic-grey 100%);
  }
}

.catalog-item__wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
    align-items: center;
  }
}

.catalog-item__picture {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 22px;
  }
}

.catalog-item__title {
  margin: 0;
  margin-bottom: 14px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  max-width: 80px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    min-width: 135px;
  }
}

.catalog__button {
  margin-top: 17px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 37px;
  }
}

.catalog-item__parameters {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
