.footer-logo {
  display: block;
  width: 128px;
  height: 24px;
  background-color: $calm-color;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-image: url("../../images/main-header__logo-secodary.svg");
  transition: background-color 0.3s;
  margin: 0 auto 18px;

  &:hover,
  &:focus {
    background-color: $hover-color;
  }

  &:active {
    background-color: $active-color;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
