.main-nav-list {
  width: 100%;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    &--opened {
      z-index: 1;
      display: block;
      position: absolute;
      left: 0;
      top: 66px;
      background-color: $second-color-title;
    }

    &--closed {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 33px;
    letter-spacing: 1px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    transform: translateX(-5px);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    transform: translate(-3px, -4px);
  }
}

.main-nav-list__item {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  border-top: 1px solid $border-color-button-secondary;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $tablet-width) {
    border: none;
   }
}
