.main-nav-list {
  width: 100%;
  text-align: center;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 33px;
  }
}

.main-nav-list__item {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.main-nav-list:last-child {
  //border-bottom: 1px solid $border-color-button-secondary;
}
