.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 13px 20px;
}

.main-header__logo {
  display: block;
  mask-position: center;
  mask-repeat: no-repeat;
  transition: background-color 0.3s;
}

.main-header__logo--primary {
  width: 33px;
  height: 38px;
  background-image: url("../../images/main-header__logo-primary.svg");

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__logo--secondary {
  width: 101px;
  height: 18px;
  background-color: $calm-color;
  mask-image: url("../../images/main-header__logo-secodary.svg");
  margin: 0 auto;

  &:hover,
  &:focus {
    background-color: $hover-color;
  }

  &:active {
    background-color: $active-color;
  }
}
