.present__description {
  margin: 0;
  color: $second-color-title;
  padding: 43px 61px 43px 51px;

  @media (min-width: $tablet-width) {
    max-width: 305px;
    font-size: 16px;
    line-height: 20px;
    text-align: start;
    padding: 0;
    padding-right: 125px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding: 0 42px;
    margin-bottom: 43px;
  }
}
