.slider {
  position: relative;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    background-color: $background-grey;
  }

  @media (min-width: $desktop-width) {
    background-image:
      linear-gradient(to bottom, $second-color-title 139px, $basic-grey 139px, $basic-grey 100%);
  }
}

.slider__button {
  position: absolute;
  content: '';
  width: 40px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../icons/stack.svg#slider-default");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;

  &:hover,
  &:focus {
    background-image: url("../../icons/stack.svg#slider-hover");
  }

  &:active{
    background-image: url("../../icons/stack.svg#slider-pressed");
  }
}
