.slider {
  position: relative;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    background-image:
      linear-gradient(to bottom, $second-color-title 155px, $basic-grey 155px, $background-grey 100%);
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    background-image:
      linear-gradient(to bottom, $second-color-title 137px, $basic-grey 137px, $basic-grey 100%);
    padding-bottom: 0;
    transform: translateX(-28px);
  }
}

.slider__before {
  position: relative;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.slider__after {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  position: absolute;
  transform: translateX(-100%);
  z-index: 1;
}

.slider__button {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 3;

  &:hover .slider__thumb rect{
    stroke: $accent-color-primary;
  }

  &:hover .slider__thumb path {
    fill: $accent-color-primary;
  }

  &:active .slider__thumb rect{
    stroke: $basic-green-opacity;
  }

  &:active .slider__thumb path {
    fill: $basic-green-opacity;
  }

  @media (min-width: $tablet-width) {
    top: 42%;
  }

  &::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 256px;
    top: -171%;
    left: 45%;
    background-color: $special-grey-second;
    z-index: -1;

    @media (max-width: $mobile-width-only) {
      top: -272%;
      left: 45%;
    }

    @media (min-width: $tablet-width) {
      height: 512px;
      top: -589%;
      left: 48%;
      background-color: $special-grey-second;
    }
  }

  &:hover::before {
    background-color: $accent-color-primary;
  }

  &:active::before {
    background-color: $basic-green-opacity;
  }
}
